body {
  background-image: url(./components/images/whiteTurntableTwo.jpg) ;
  background-size: 100vw;
  height: auto;
  color: solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: grey 7px 7px 7px;
  
  
}

.h2 {
  color: black;
  
}

.zodiac {
  border: 1px solid whitesmoke;
  height: 55vh;
  width: 40vw;
  box-shadow: black 7px 7px 7px;
  background-color: whitesmoke;
  /* grid-area: 2 / 2 / 5 / 5; */
  opacity: 1;
  /* background-image: url(./components/images/zodiacDates.jpeg); */
  padding-left: 40px;
  font-size: 100px ;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
  
}

.container{
  display: grid;
  /* grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%; */
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  /* border: 1px solid black; */
  height: 90vh;
  width: 90vw;

  opacity: .5;
  
  
  
  
}

.mixes {
  border: 1px solid whitesmoke;
    height: 55vh;
    width: 70vw;
    box-shadow: black 7px 7px 7px;
    background-color: whitesmoke;
    /* grid-area: 2 / 2 / 5 / 5; */
    opacity: .7;
    padding-left: 150px;
}

.virtualCrate {
  border: 1px solid whitesmoke;
  height: 55vh;
  width: 40vw;
  box-shadow: black 7px 7px 7px;
  background-color: whitesmoke;
  /* grid-area: 2 / 2 / 5 / 5; */
  opacity: 1;
  padding-left: 80px;
}

.navBar {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  height: 46vh;
  width: 10vw;
  box-shadow: black 7px 7px 7px;
}
